.loadMoreBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loadMoreBtn:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.loadMoreBtn:not(:disabled):hover {
    background-color: #0056b3;
}